<!DOCTYPE html>
<html lang="zh-hant">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>留言板</title>
</head>
<body>
  <h1>留言板</h1>
  <div>                                                  
    <a href="/"><button>回到首頁</button></a>             <!--href 超連結 (Hypertext Reference)-->
    <a href="{% url 'msg_create' %}"><button>新增留言</button></a>
    {% if user.is_authenticated %} <!--判斷是否登入-->
      歡迎{{ user.username }}  <!--顯示用戶名稱-->
      <form action="{% url 'logout' %}" method="post"> 
        {% csrf_token %}  <!--資料庫憑證 不放的話沒辦法讓資料進資料庫-->
        <button type="submit">登出</button> <!--按鈕不一定要有作用-->
      </form>
    {% else %} <!--如果沒登入-->
      <a href="{% url 'login' %}"><button>登入</button></a> <!--登入按鈕-->
    {% endif %}    
  </div>
  <div>{% block content %}{% endblock %}</div>
</body>
</html>